services:
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase

    volumes:
      - pg_data:/var/lib/postgresql/data

    networks:
      - app-network
  api:
    build: .
    container_name: todolist_api
    ports:
      - "8000:8000"
    volumes:
      - .:/app # Код в ./backend синхронизируется с контейнером в реальном времени
    env_file:
      - .env

    depends_on:
      - postgres
      - redis

    networks:
      - app-network

  redis:
    image: redis:7
    container_name: todolist_redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  celery_worker:
    build: .
    container_name: todolist_celery_worker
    command: celery -A app.tasks.celery_app worker -l info --pool=solo
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
    networks:
      - app-network

  celery_beat:
    build: .
    container_name: todolist_celery_beat
    command: celery -A app.tasks.celery_app beat -l info
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - app-network
#
#  minio:
#    image: minio/minio
#    container_name: todolist_minio
#    command: server /data --console-address ":9001"
#    environment:
#      MINIO_ROOT_USER: minio
#      MINIO_ROOT_PASSWORD: minio123
#    volumes:
#      - minio_data:/data
#    ports:
#      - "9000:9000"
#      - "9001:9001"
#

volumes:
  pg_data: # Папка для хранения данных базы данных
  minio_data: # Папка для хранения данных минио

networks:
  app-network:
    driver: bridge